@font-face {
    font-family: 'MinhaFonte';
    src: url('../assets/fonts/FontsFree-Net-lawrence-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


.footer {
    background-color: #FFFCF8;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'MinhaFonte', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}


.footer-text {
    font-size: 1.2rem;
    color: #333;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem;
    }

    .footer-text {
        font-size: 1rem;
    }
}