@font-face {
    font-family: 'Lawrence';
    src: url('../assets/fonts/FontsFree-Net-lawrence-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.information {
    background-color: #FFFCF8;
    padding: 2rem;
    text-align: center;
    font-family: 'Lawrence';
}

.information-content {
    margin-bottom: 2rem;
    font-family: 'Lawrence';
}


.information-traje {
    background-color: #FFFCF8;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 4px;
    font-family: 'Lawrence';
}

.information-traje h3 {
    font-size: 2rem;
    color: #344B68;
    margin-bottom: 1rem;
    font-family: 'Lawrence';
}


.information-traje p {
    font-size: 1.5rem;
    color: #274D66;
    line-height: 1.4;
    font-family: 'Lawrence';
}


.information-traje p strong {
    font-weight: bold;
}